In [1]:
# Import dictionaries
import pandas as pd
from datetime import datetime

# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Date

In [2]:
# Read in data
measurements_df = pd.read_csv("resources/Hawaii_measurements_clean.csv")
stations_df = pd.read_csv("resources/hawaii_stations.csv")
measurements_df.head()

       station        date  precipitation_tenths_of_mm  temp_observed
0  USC00519397  2010-01-01                        0.08             65
1  USC00519397  2010-01-02                        0.00             63
2  USC00519397  2010-01-03                        0.00             74
3  USC00519397  2010-01-04                        0.00             76
4  USC00519397  2010-01-07                        0.06             70

In [3]:
# Create the classes
class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [4]:
class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(Date)
    precipitation_tenths_of_mm = Column(Float)
    temp_observed = Column(Integer)

In [5]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///hawaii_sqlite.db')

In [6]:
# Create the tables within the database
Base.metadata.create_all(engine)

In [7]:
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [8]:
counter=0
station=stations_df["station"].tolist()
name=stations_df["name"].tolist()
latitude=stations_df["latitude"].tolist()
longitude=stations_df["longitude"].tolist()
elevation=stations_df["elevation"].tolist()

try:
    for station in station:
        record = Stations(**{
            'station': station[counter],
            'name': name[counter],
            'latitude': latitude[counter],
            'longitude': longitude[counter],
            'elevation': elevation[counter]}) 
        counter += 1
        session.add(record)
    session.commit()

finally:
    session.close()  
print(counter)

9

In [9]:
counter=0
station=measurements_df["station"].tolist()
dates=measurements_df["date"].tolist()
prcp=measurements_df['precipitation_tenths_of_mm'].tolist()
temp=measurements_df['temp_observed'].tolist()

try:
    for s in station:
        record = Measurements(**{
            'station': station[counter],
            'date': datetime.strptime(dates[counter], '%Y-%m-%d').date(),
            'precipitation_tenths_of_mm': prcp[counter],
            'temp_observed': temp[counter]}) 
        counter += 1
        session.add(record)
    session.commit()
finally:
    session.close() 
print(counter)

18103