In [12]:
import pandas as pd

In [13]:
# read csv file
measurements_df = pd.read_csv("resources/hawaii_measurements.csv")
stations_df = pd.read_csv("resources/hawaii_stations.csv")
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
# Inspect stations
stations_df
# no data to clean

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [15]:
# Check field count
measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [16]:
# Drop blank fields
measurements_clean = measurements_df.dropna(how="any")

# Check field count
measurements_clean.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [17]:
measurements_clean.rename(columns={'prcp':'precipitation_tenths_of_mm', 'tobs':'temp_observed'}, inplace=True)
measurements_clean.head()

C:\Users\kimberly\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

       station        date  precipitation_tenths_of_mm  temp_observed
0  USC00519397  2010-01-01                        0.08             65
1  USC00519397  2010-01-02                        0.00             63
2  USC00519397  2010-01-03                        0.00             74
3  USC00519397  2010-01-04                        0.00             76
5  USC00519397  2010-01-07                        0.06             70

In [18]:
measurements_clean.to_csv("Resources/Hawaii_measurements_clean.csv", index=False, header=True)